body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 1rem;
}

.wrapper {
  display: flex;
  grid-gap: 1rem;
  max-width: 100vw;
  width: auto;
  overflow-x: auto;
  scroll-snap-type: x;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar { 
  display: none;
}

.slider {
  min-width: calc(10% - .5rem);
  aspect-ratio: 1 / 1;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  scroll-snap-align: start;
  font-weight: 600;
  user-select: none;
}
.slider img {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
}

.slider figcaption {
  font-size: 10px;
  margin-top: 5px; 
  text-align: center;
}